!!!
%html
  %head
    %title Ciber Tennis
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"
    
    .pure-g
      %img{:src => "/images/404.png", :alt => "That is not a cute bear!", :title => "That is not a cute bear!", :style => "width: auto;"}
