!!!
%html
  %head
    %title Ciber Tennis
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"
    
    .pure-g
      .pure-u-1.pure-u-md-1-3.1-box
        %ul
          %li
            Backend: Ruby og Sinatra
            %br
            Frontend: Haml og Javascript
            %ul
              %li
                %a{:href => "https://github.com/dbushell/Pikaday"} Datepicker
              %li
                %a{:href => "http://purecss.io/"} Pure-css

                
          %li
            Icon made by
            %a{:href => "http://scottdejonge.com/", :title => "Scott De Jonge"} Scott De Jonge
            from
            %a{:href => "http://www.flaticon.com", :title => "Flaticon"} www.flaticon.com
            is licensed under
            %a{:href => "http://creativecommons.org/licenses/by/3.0/", :title => "Creative Commons BY 3.0"} CC BY 3.0

            Luc 
