%meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
%meta{:name => "mobile-web-app-capable", :content => "yes"}
%link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
%link(rel="apple-touch-icon" href="/images/squash-150.png")
%link(rel="icon" sizes="192x192" href="/images/squash-192.png")
%link(rel="manifest" href="/json/manifest.json")
%link(rel="stylesheet" href="/css/pure-min.css")
%link(rel="stylesheet" href="/css/grids-responsive-min.css")
%link(rel="stylesheet" href="/css/style.css")